[Unit]
Description=Start dhcp_probe on %I
After=network.target
Wants=network.target

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/dhcp_probe
PIDFile=/var/run/dhcp_probe.%I.pid
ExecStart=/usr/sbin/dhcp_probe $DHCP_PROBE_OPTIONS -p /var/run/dhcp_probe.%I.pid %I
